*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: rgba(0, 0, 0, 0.6);
  --white-color: #fff;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-image: url("./images/ezra-jeffrey-comeau-wiV7JsQ6lOo-unsplash.jpg");
  background-size: cover;
}

.container {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
}

h1 {
  width: 70%;
  margin: auto;
  font-size: 3rem;
  background-color: var(--bg-color);
  color: var(--white-color);
  padding: 5px 20px;
  border-radius: 15px;
  letter-spacing: 3px;
  margin-block-end: 50px;
  font-weight: 500;
  text-align: center;
}

.countdown-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  gap: 20px;
  color: var(--white-color);
  margin: auto;
}

.countdown-container > div {
  background-color: var(--bg-color);
  text-align: center;
  width: 130px;
  font-weight: 600;
  padding: 4px 10px;
}

.big-text {
  font-size: 5rem;
}

span {
  font-size: 1.3rem;
}

@media (max-width: 767px) {
  h1 {
    font-size: 1rem;
  }

  .big-text {
    font-size: 2rem;
  }

  .countdown-container {
    width: 95%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin: auto;
  }

  .countdown-container > div {
    width: 80px;
  }
  span {
    font-size: 0.8rem;
  }
}
